<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>换机邦-后台</title>
    <link rel="icon" href="/assets/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css"/>
    <script type="text/javascript" src="/assets/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="/utils/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="topbar-wrap">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo"><a href="/carousel" class="navbar-brand">后台管理</a></h1>
        </div>
        <div style="text-align: right;font-size: 14px;">
            <p>当前登录用户：<span id="user"></span><span id="logout" style="margin-left: 10px;cursor: pointer;">退出登录</span></p>
        </div>
    </div>
</div>
<script type="text/javascript">
    'use strict'
    $(function () {
        let user = window.sessionStorage.getItem('user')
        if (user) {
            $('#user').html(user)
        } else {
            window.location.href = 'http://127.0.0.1:8080'
        }
        $('#logout').click(function () {
            window.sessionStorage.removeItem('user')
            window.location.href = 'http://127.0.0.1:8080'
        })
    })
</script>
<div class="container clearfix" style="margin-top: 50px;">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="javascript:;"><i class="icon-font">&#xe003;</i>常用操作</a>
                    <ul class="sub-menu">
                        <li><a href="/carousel"><i class="icon-font">&#xe029;</i>轮播图</a></li>
                        <!--<li><a href="/eval"><i class="icon-font">&#xe065;</i>评论</a></li>-->
                    </ul>
                </li>
                <li>
                    <a href="javascript:;"><i class="icon-font">&#xe00F;</i>商品操作</a>
                    <ul class="sub-menu">
                        <li><a href="/brand"><i class="icon-font">&#xe05E;</i>品牌管理</a></li>
                        <li><a href="/goods"><i class="icon-font">&#xe00D;</i>商品管理</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;"><i class="icon-font">&#xe018;</i>系统管理</a>
                    <ul class="sub-menu">
                        <li><a href="/admin"><i class="icon-font">&#xe017;</i>管理员设置</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sidebar-line"></div>
    </div>
    <!--/sidebar-->