<%- include('../header.html') %>
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="/carousel">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/brand">品牌管理</a><span class="crumb-step">&gt;</span><span>添加轮播图</span></div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <div class="show_result">
                <div class="show_result_inner"><img src=""><span></span></div>
            </div>
            <form action="" method="post" id="form" name="form" enctype="multipart/form-data">
                <table class="insert-tab" width="100%">
                    <tbody>
                    <tr>
                        <th><i class="require-red">*</i>品牌名：</th>
                        <td>
                            <input class="common-text required" id="name" name="name" value="" type="text" style="width: 98%;height: 30px;">
                        </td>
                    </tr>
                    <tr>
                        <th>logo：</th>
                        <td><img src="" id="show" style="width: 200px;"><span class="require-red">要求图片大小(1920*600)</span><input name="file" id="upload" type="file"></td>
                    </tr>
                    <tr>
                        <th>品牌描述：</th>
                        <td><textarea class="common-textarea" id="des" name="des" cols="30" style="width: 98%;" rows="10"></textarea></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" value="添加" type="button" id="add">
                            <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

</div>
<!--/main-->
</div>

<!--_footer-->
<%- include('../footer.html') %>
<!-- javascripts-->
<script type="text/javascript" src="/operations/brand.js"></script>
<script type="text/javascript">
    $(function(){
        'use strict'

        $("#upload").change(function () {
            common.upLoad('show')
        })

        $("#add").click(function () {
            brand.list.addBrand()
        })
    })
</script>
</body>
</html>